In [5]:
# importing modules 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as pl

In [8]:
# reading  data set csv from url
df = pd.read_csv('https://raw.githubusercontent.com/Preetha9029/heart-kvs/main/heart-Compact.csv')

In [11]:
# displaying first 5 rows
df.head()

   Age Sex ChestPainType  RestingBP  Cholesterol
0   40   M           ATA        140          289
1   49   F           NAP        160          180
2   37   M           ATA        130          283
3   48   F           ASY        138          214
4   54   M           NAP        150          195

In [12]:
# number of rows and columns in the dataset
df.shape

(21, 5)

In [14]:
# getting info about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            21 non-null     int64
 1   Sex            21 non-null     object
 2   ChestPainType  21 non-null     object
 3   RestingBP      21 non-null     int64
 4   Cholesterol    21 non-null     int64
dtypes: int64(3), object(2)
memory usage: 968.0+ bytes

In [15]:
#checking for null/missing values
df.isnull().sum()

Age              0
Sex              0
ChestPainType    0
RestingBP        0
Cholesterol      0
dtype: int64

In [ ]:
#